body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

body::before {
    content: "";
    background: url('https://img.freepik.com/free-vector/falling-golden-confetti-happy-birthday-background-design_1017-25818.jpg?size=626&ext=jpg') center / cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: -1;
}

.title {
    position: absolute;
    top: 0.1px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    font-family: 'Pacifico', cursive;
    color: gold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content {
    text-align: center;
    margin-top: 20px;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.2em;
    color: #fff;
    line-height: 1.6;
}

/* Glitter text animation */
.glitter-letter {
    position: relative;
    display: inline-block;
    animation: glitterAnimation 2s infinite linear;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: auto;
}

.image-item {
    flex: 1;
    margin: 0 10px;
    max-width: 200px; /* Adjust the maximum width based on your design needs */
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 0;

    /* Add a glow effect */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Adjust the color and intensity as needed */
}

.image-item:hover {
    transform: scale(1.05);
}

.image-content {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    transition: transform 0.3s ease-in-out;
}

.image-item:hover .image-content {
    transform: scale(1.2);
}
/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }
}

/* Shine animation */
@keyframes shine {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(2);
    }
}

/* Glitter text animation keyframes */
@keyframes glitterAnimation {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
