/* ... (previous styles) */

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    overflow-x: auto; /* Add horizontal scrolling for smaller screens */
}

.image-item {
    flex: 1;
    margin: 0 10px;
    max-width: 200px; /* Adjust the maximum width based on your design needs */
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Glow effect */
}

.image-item:hover {
    transform: scale(1.05);
}

.image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    transition: transform 0.3s ease-in-out;
}

.image-item:hover .image-content {
    transform: scale(1.2);
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    .image-container {
        flex-direction: column; /* Display images in a vertical layout */
        align-items: center; /* Center images in the column */
        overflow-x: hidden; /* Disable horizontal scrolling */
    }

    .image-item {
        flex: 1 0 100%; /* Make each image take full width on mobile */
        margin: 0 0 20px 0; /* Adjust spacing between images on mobile */
    }
}
